$bradius: 2px

.dropdown
  $dropdown: &
  position: relative
  z-index: 1
  &.is-show
    #{$dropdown}__body
      visibility: visible
      opacity: 1
  &__body
    position: absolute
    top: 100%
    left: 0
    min-width: 270px
    padding-top: 2px
    visibility: hidden
    opacity: 0
  &__content
    display: flex
    flex-direction: column
    background-color: $g-color-white
    border-radius: $bradius
    box-shadow: $global-box-shadow-m
  &__item
    padding: 12px 16px
    white-space: nowrap
    transition: $transition
    text-decoration: none
    &:hover
      background-color: $g-color-grey-3
    &.is-selected
      background-color: $g-color-grey-3
      pointer-events: none
