.expert-card
  $expert: &
  &:hover
    #{$expert}__tags
      opacity: 1
      pointer-events: all
  &__image
    position: relative
    width: 100%
    padding-top: 74%
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      object-fit: cover
      object-position: center
  &__box
    padding: 32px 0 0
  &__title
    font-size: $g-l-font-size
    font-weight: $g-font-weight-500
    text-decoration: none
    margin-bottom: 16px
    transition: $transition
    &:hover,
    &:focus
      color: $g-color-primary

  &__tags
    display: flex
    flex-wrap: wrap
    margin-bottom: -8px
    opacity: 0
    pointer-events: none
    transition: $transition
  &__tag
    font-size: $g-xs-font-size
    font-weight: $g-font-weight-500
    text-decoration: none
    opacity: 0.5
    margin: 0 32px 8px 0
    padding-bottom: 6px
    border-bottom: 2px solid transparent
    transition: $transition
    &:last-child
      margin: 0
    &:hover,
    &:focus
      opacity: 1
      border-bottom-color: $g-color-primary

@media (max-width: $bp-l)
  .expert-card
    $expert: &
    &__box
      padding: 16px 0 0
    &__tag
      margin: 0 16px 0 0
    &__title
      margin-bottom: 8px

@media (max-width: $bp-m)
  .expert-card
    $expert: &
    &__tags
      opacity: 1
      pointer-events: all
