.humburger
  $humburger: &
  cursor: pointer
  span
    display: block
    width: 28px
    height: 2px
    margin-bottom: 4px
    background: $g-color-black
    border-radius: 3px
    z-index: 1
    transform-origin: 0
    &:last-child
      margin-bottom: 0
  &.is-active
    span
      opacity: 1
      &:first-child
        transform: rotate(45deg) translate(0px, -4px)
      &:nth-child(2)
        transform: rotate(-45deg) translate(-6px, 9px)
      &:nth-child(3)
        opacity: 0
