.expert-board
  $expert: &
  display: flex
  align-items: center
  justify-content: center
  padding: 48px
  background-color: $g-color-grey-3
  &_article
    padding: 0
    background-color: transparent
  &_small
    #{$expert}
      &__content
        max-width: 100%
        width: 540px
      &__image
        width: 88px
        padding-top: 88px
  &__content
    display: flex
    align-items: center
    max-width: 100%
    width: 620px
  &__image
    flex-shrink: 0
    position: relative
    width: 170px
    padding-top: 170px
    margin-right: 32px
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
  &__box
  &__title
    font-weight: $g-font-weight-500
    margin-bottom: 8px
  &__text
    font-size: $g-xs-font-size
    opacity: 0.8


@media (max-width: $bp-m)
  .expert-board
    $expert: &
    padding: 16px
    &__content
      align-items: flex-start
    &_article
      padding: 0
    &__image
      width: 88px
      padding-top: 88px
      margin-right: 16px
