.about-block
  &__slider
    position: relative
  &__slide
    position: relative
  &__image
    position: absolute
    top: 0
    left: 0
    width: calc(100% - 128px)
    height: 100%
    z-index: 0
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
    &-map
      position: absolute
      top: 64px
      right: 0
      width: 128px
      height: calc(100% - 64px)
      z-index: 0
      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
  &__navs
    display: inline-flex
    position: absolute
    top: 0
    right: 0
    z-index: 5
    background-color: $g-color-white
    .slider-nav__item
      padding: 24px
    .swiper-button-disabled
      opacity: 0.1
      pointer-events: none
  &__overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 40.95%, rgba(0, 0, 0, 0.65) 100%)
    z-index: 1
  &__box
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end
    max-width: 100%
    width: 672px
    padding: 100px 56px 40px
    z-index: 2
  &__title
    font-size: $g-xxxxl-font-size
    font-weight: $g-font-weight-500
    color: $g-color-white
    margin-bottom: 16px
  &__text
    font-size: $g-xs-font-size
    color: $g-color-white
    margin-bottom: 24px


@media (max-width: $bp-s)
  .about-block
    &__image
      width: 100%
      &-map
        display: none
    &__box
      padding: 32px 16px
      width: 400px
      min-height: 360px
    &__text
      font-size: $g-s-font-size
    &__navs
      .slider-nav__item
        padding: 8px
    &__title
      line-height: 1.2
      font-size: $g-xxl-font-size

