html
  font-family: $g-font-family
  font-weight: $g-font-weight-400
  font-size: $g-font-size
  line-height: $g-line-height
  letter-spacing: $g-font-spacing

body,
.page
  overflow-x: hidden


@media (max-width: $bp-l)
  html
    font-size: 18px
@media (max-width: $bp-s)
  html
    font-size: 16px
