.faq
  $faq: &
  display: flex
  flex-direction: column
  &.is-active
    #{$faq}
      &__head
        border-bottom-color: transparent
      &__body
        max-height: 100%
        visibility: visible
        opacity: 0.8
      &__arrow
        transform: rotate(180deg)
  &__head
    display: flex
    align-items: flex-start
    padding: 0 0 20px
    border-bottom: 1px solid $g-color-black
    cursor: pointer
    transition: $transition
  &__title
    flex-grow: 1
    font-size: $g-xxl-font-size
    font-weight: $g-font-weight-500
  &__arrow
    margin-top: 15px
  &__body
    padding: 16px 24px
    background-color: $g-color-grey-3
    max-height: 0
    visibility: hidden
    opacity: 0
    transition: $transition

@media (max-width: $bp-m)
  .faq
    &__head
      padding: 0 0 8px
    &__body
      padding: 8px 16px
