.articles
  &__item
    display: flex
    flex-direction: column
    padding: 32px 0
    border-top: 1px solid $g-color-black
    text-decoration: none
    transition: $transition
    &:hover
      color: $g-color-primary
  &__sup
    font-size: $g-xxs-font-size
    font-weight: $g-font-weight-500
    opacity: 0.4
    margin-bottom: 24px
    & > *
      margin-right: 32px
  &__title
    font-size: $g-xxl-font-size
    font-weight: $g-font-weight-500

@media (max-width: $bp-l)
  .articles
    &__item
      padding: 24px 0
    &__sup
      margin-bottom: 16px

@media (max-width: $bp-m)
  .articles
    line-height: 1.2
    &__item
      padding: 16px 0
    &__sup
      margin-bottom: 8px
      & > *
        margin-right: 16px

@media (max-width: $bp-xs)
  .articles
    &__sup
      display: flex
      flex-direction: column-reverse
      margin-bottom: 0
      & > *
        margin-bottom: 8px
