.form
  max-width: 100%
  width: 490px
  display: flex
  flex-direction: column
  &__title
    font-size: $g-l-font-size
    font-weight: $g-font-weight-500
    margin-bottom: 12px
  &__subtitle
    font-size: $g-xs-font-size
    opacity: 0.8
    margin-bottom: 24px
  &__label
    display: inline-block
    font-size: $g-xxs-font-size
    margin-bottom: 8px
  &__input
    width: 100%
    padding: 12px 16px
    font-size: $g-xs-font-size
    border: 1px solid transparent
    background-color: $g-color-grey-light-4
    resize: none
    outline: none
    transition: $transition
    &:focus
      border-color: $g-color-grey-light-2
    &::placeholder
      font-size: $g-xs-font-size
  &__field
    margin-bottom: 24px
  &__actions
    display: flex
    align-items: center
  &__politic
    font-size: $g-xxs-font-size
    margin-left: 24px
    a
      color: $g-color-primary
