.events
  $events: &
  padding-top: 60px
  &__time
    position: relative
    font-size: $g-xxl-font-size
    font-weight: $g-font-weight-500
    margin-bottom: 24px
    span
      padding-right: 32px
      background-color: $g-color-white
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 0
      width: 100%
      height: 1px
      background-color: $g-color-black
      z-index: -1

  &__item
    margin-bottom: 60px
    &.is-active
      #{$events}__wrap
        padding: 32px 0
        background-color: $g-color-grey


@media (max-width: $bp-s)
  .events
    &__item
      margin-bottom: 32px
