mixin timer
  .timer
    .timer__wrap
      span.timer__title до старта
    .timer__wrap
      .timer__box
        .timer__item
          span.timer__number#timerDays 00
          span.timer__text дней
        .timer__item
          span.timer__number#timerHours 00
          span.timer__text часов
        .timer__item
          span.timer__number#timerMinutes 00
          span.timer__text минут
        .timer__item
          span.timer__number#timerSeconds 00
          span.timer__text секунд
