.container
  max-width: 100%
  width: $bp-xl
  padding: 0 60px
  margin: 0 auto

  &-fluid
    width: 100%

@media (max-width: $bp-l)
  .container
    padding: 0 32px

@media (max-width: $bp-m)
  .container
    padding: 0 16px
