.expert-page
  &__title
    font-size: $g-xxxxl-font-size
    font-weight: $g-font-weight-500
    margin-bottom: 32px
  &__board
    margin-bottom: 32px
  &__info
    & > *
      margin-bottom: 32px

@media (max-width: $bp-m)
  .expert-page
    &__info
      & > *
        margin-bottom: 16px
