.slider-nav
  &__item
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 16px
    cursor: pointer
    outline: none
    &_next
      transform: rotate(180deg)

@media (max-width: $bp-s)
  .slider-nav
    &__item
      padding: 8px
