.card
  display: flex
  flex-direction: column
  &__title
    margin-bottom: 32px
  &__tag
    display: inline-flex
    align-items: center
    font-size: $g-xs-font-size
    margin: auto 0 24px
    .icon
      margin-right: 12px
  &__actions
    display: flex
    align-items: center
    margin-bottom: 18px
    min-height: 48px
  &__image
    height: 200px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
  &__time
    font-size: $g-xxl-font-size
    font-weight: $g-font-weight-500

@media (max-width: $bp-s)
  .card
    &__image
      height: 160px

@media (max-width: $bp-xs)
  .card
    &__title
      margin-bottom: 16px
    &__tag
      margin: auto 0 16px


