.program
  overflow: hidden
  &__fgrid
    display: flex
    flex-wrap: wrap
    margin: 0 -24px -1px
  &__item
    position: relative
    width: 33.33%
    padding: 32px 24px
    border-bottom: 1px solid $g-color-black
    &::after
      content: ''
      position: absolute
      top: 50%
      right: 0
      width: 1px
      height: 90%
      background-color: $g-color-black
      transform: translateY(-50%)
    &:nth-child(3n)
      &::after
        content: none

@media (max-width: $bp-m)
  .program
    &__item
      width: 50%
      &:nth-child(3n)
        &::after
          content: ''

@media (max-width: $bp-s)
  .program
    width: calc(100% + 32px)
    margin: 0 -16px
    &__fgrid
      flex-wrap: nowrap
      margin: 0
      overflow-x: auto
      -webkit-overflow-scrolling: touch
    &__item
      flex-shrink: 0
      width: 70%
      padding: 24px 16px
      border-bottom: none
      &:last-child
        &::after
          content: none
