extends ../layouts/default

block variables
  - var title = "Статья"
  - var pageClass = ''
  - var activePage = 'article'

block content
  section.section
    .container
      .article
        h1 Международный Совет по культурному наследию
        time
          span Константинопольский Константин
          span 21 сентября, 2020
        .article__inner.article__inner_min
          img(src="assets/images/first-screen.png")
          .article__orgs.orgs
            span.orgs__title Организаторы
            .orgs__item
              img(src="assets/images/orgs/org_1.svg")
            .orgs__item.orgs__item_end
              img(src="assets/images/orgs/org_2.svg")
            .orgs__item.orgs__item_end
              img(src="assets/images/orgs/org_3.svg")
          p Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.
          blockquote.article__blockquote
            span.article__quote.article__quote_up
            span.article__quote.article__quote_down
            .expert-board.expert-board_small.expert-board_article
              .expert-board__content
                .expert-board__image
                  img(src="assets/images/experts/expert_1.jpg")
                .expert-board__box
                  .expert-board__title Константинопольский Константин
                  .expert-board__text Заместитель генерального директора, начальник Центра фирменного транспортного обслуживания
            p Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.
          h3 Международный Совет по культурному наследию
          img(src="assets/images/article/article_1.jpg")
          small Современные технологии достигли такого уровня, что внедрение современных методик играет важную.
          p Предварительные выводы <a href="#">неутешительны</a>: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.
          ul
            li В своём стремлении повысить качество жизни, они забывают, что новая модель.
            li В своём стремлении повысить качество жизни, они забывают, что новая модель. В своём стремлении повысить качество жизни, они забывают, что новая модель.
            li В своём стремлении повысить качество жизни
            li В своём стремлении повысить качество
            li В своём стремлении повысить качество жизни, они забывают
          .article__slider.swiper-container.js-slider-article
            .swiper-wrapper
              .swiper-slide
                img(src="assets/images/article/article_1.jpg")
              .swiper-slide
                img(src="assets/images/article/article_2.jpg")
              .swiper-slide
                img(src="assets/images/article/article_1.jpg")
              .swiper-slide
                img(src="assets/images/article/article_2.jpg")
              .swiper-slide
                img(src="assets/images/article/article_1.jpg")
            .article__navs.slider-nav
              .slider-nav__item.slider-nav__item_prev
                i.icon
                  svg(viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round")
              .slider-nav__item.slider-nav__item_next
                i.icon
                  svg(viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M7.16666 13L1.75591 7.58926C1.43048 7.26382 1.43048 6.73618 1.75591 6.41074L7.16666 1" stroke="black" stroke-width="2" stroke-linecap="round")

          p Мы вынуждены отталкиваться от того, что разбавленное изрядной долей эмпатии, рациональное мышление однозначно фиксирует необходимость соответствующих условий активизации. Идейные соображения высшего порядка, а также убеждённость некоторых оппонентов требует определения и уточнения вывода текущих активов. Приятно, граждане, наблюдать, как тщательные исследования конкурентов указаны как претенденты на роль ключевых факторов.
          p Господа, сплочённость команды профессионалов играет важную роль в формировании новых предложений. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса неоднозначны и будут указаны как претенденты на роль ключевых факторов. Мы вынуждены отталкиваться от того, что высококачественный прототип будущего проекта позволяет оценить.
        .article__inner
          .expert-board.expert-board_small
            .expert-board__content
              .expert-board__image
                img(src="assets/images/experts/expert_1.jpg")
              .expert-board__box
                .expert-board__title Константинопольский Константин
                .expert-board__text Заместитель генерального директора, начальник Центра фирменного транспортного обслуживания
