extends ../layouts/default

block variables
  - var title = "Статьи"
  - var pageClass = ''
  - var activePage = 'articles'

block content
  section.section
    .container
      .title-block
        span.title-block__title Статьи
  section
    .container
      .articles
        .articles__list
          a.articles__item(href="#")
            .articles__sup
              span Константинопольский Константин
              span 21 сентября, 2020
            h3.articles__title Международный Совет по культурному наследию
          a.articles__item(href="#")
            .articles__sup
              span Константинопольский Константин
              span 21 сентября, 2020
            h3.articles__title В целом, конечно, дальнейшее развитие различных форм деятельности играет определяющее значение для поставленных обществом задач. Прежде всего.
          a.articles__item(href="#")
            .articles__sup
              span Константинопольский Константин
              span 21 сентября, 2020
            h3.articles__title Мы вынуждены отталкиваться от того, что консультация с широким активом в значительной степени обусловливает важность поэтапного и.
  section.section
