extends ../layouts/default

block variables
  - var title = "Контакты"
  - var pageClass = ''
  - var activePage = 'contacts'

block content
  section.section.section_large
    .container
      .contacts
        .contacts__left
          h1.contacts__title Международный экспертный совет
          .contacts__subtitle по вопросам сохранения и реставрации объектов культурного наследия
          .contacts__quote
            a.contacts__contact.contacts__contact_tel(href="tel:+79999999999") +7 999 999-99-99
            a.contacts__contact.contacts__contact_mail(href="mailto:info@example.ru") info@example.ru
          .contacts__org.orgs
            span.orgs__title Организаторы
            .orgs__item
              img(src="assets/images/orgs/org_1.svg")
            .orgs__item.orgs__item_end
              img(src="assets/images/orgs/org_2.svg")
            .orgs__item.orgs__item_end
              img(src="assets/images/orgs/org_3.svg")
        .contacts__right
          +form.contacts__form
