extends ../layouts/default

block variables
  - var title = "Эксперты"
  - var pageClass = ''
  - var activePage = 'experts'

block content
  section.section
    .container
      .title-block
        span.title-block__title Эксперты
  section.section.section_large
    .container
      .experts
        .experts__fgrid
          .experts__item
            .expert-card
              .expert-card__image
                img(src="assets/images/experts/expert_1_big.jpg")
              .expert-card__box
                a.expert-card__title(href="#") Константинопольский Константин
                .expert-card__tags
                  a.expert-card__tag(href="#") Биорграфия
                  a.expert-card__tag(href="#") Статьи
                  a.expert-card__tag(href="#") Презентация
                  a.expert-card__tag(href="#") Интервью

          .experts__item
            .expert-card
              .expert-card__image
                img(src="assets/images/experts/expert_1_big.jpg")
              .expert-card__box
                a.expert-card__title(href="#") Константинопольский Константин
                .expert-card__tags
                  a.expert-card__tag(href="#") Биорграфия
                  a.expert-card__tag(href="#") Статьи
                  a.expert-card__tag(href="#") Презентация
                  a.expert-card__tag(href="#") Интервью

          .experts__item
            .expert-card
              .expert-card__image
                img(src="assets/images/experts/expert_1_big.jpg")
              .expert-card__box
                a.expert-card__title(href="#") Константинопольский Константин
                .expert-card__tags
                  a.expert-card__tag(href="#") Биорграфия
                  a.expert-card__tag(href="#") Статьи
                  a.expert-card__tag(href="#") Презентация
                  a.expert-card__tag(href="#") Интервью

          .experts__item
            .expert-card
              .expert-card__image
                img(src="assets/images/experts/expert_1_big.jpg")
              .expert-card__box
                a.expert-card__title(href="#") Константинопольский Константин
                .expert-card__tags
                  a.expert-card__tag(href="#") Биорграфия
                  a.expert-card__tag(href="#") Статьи
                  a.expert-card__tag(href="#") Презентация
                  a.expert-card__tag(href="#") Интервью
