extends ../layouts/default

block variables
  - var title = "Статья"
  - var pageClass = ''
  - var activePage = 'article'

block content
  section.section
    .container
      .title-block
        span.title-block__title Галерея
  section.section.section_large
    .container
      .gallery
        .gallery__fgrid.js-lightgallery
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
        .gallery__name
          span Название события
        .gallery__fgrid.js-lightgallery
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
          a.gallery__image(href="assets/images/gallery/img_1.jpg")
            img(src="assets/images/gallery/img_1.jpg")
        .gallery__box
          h4.gallery__title Международный Совет по культурному наследию
          p.gallery__text Предварительные выводы неутешительны: постоянный количественный рост и сфера нашей активности предопределяет высокую востребованность глубокомысленных рассуждений. В рамках спецификации современных стандартов, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали.
