extends ../layouts/default

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  +first-screen
  section.section
    .container
      +timer
  section.section.section_grey.section_large
    .container
      +live-block
  section.section.section_large
    .container
      .title-block
        span.title-block__title Деловая программа
        a.title-block__link(href="#") Смотреть все
  section.section.section_large
    .container
      .tabs(data-tabs='item_1')
        .tabs__head(data-tabs-head)
          span.tabs__tab(data-tabs-tab='item_1') 21.09
          span.tabs__tab(data-tabs-tab='item_2') 22.09
          span.tabs__tab(data-tabs-tab='item_3') 23.09
          span.tabs__tab(data-tabs-tab='item_4') 24.09
          span.tabs__tab(data-tabs-tab='item_5') 25.09
        .tabs__body(data-tabs-body)
          .tabs__panel(data-tabs-panel='item_1')
            .program
              .program__fgrid
                .program__item
                  .card
                    .card__title Пленарная видеоконференция «Сохранение наследия в условиях пандемии»
                    .card__tag
                      i.icon
                        img(src='assets/images/icons/clip.svg')
                      span Объект культурного наследия
                    .card__actions
                      button.button.button_outline Смотреть запись
                    .card__image
                      img(src="assets/images/program/program_1.jpg")
                .program__item
                  .card
                    .card__title Пленарная видеоконференция «Сохранение наследия в условиях пандемии»
                    .card__tag
                      i.icon
                        img(src='assets/images/icons/clip.svg')
                      span Объект культурного наследия
                    .card__actions
                      button.button.button_primary Прямая трансляция
                    .card__image
                      img(src="assets/images/program/program_1.jpg")
                .program__item
                  .card
                    .card__title Пленарная видеоконференция «Сохранение наследия в условиях пандемии»
                    .card__tag
                      i.icon
                        img(src='assets/images/icons/clip.svg')
                      span Объект культурного наследия
                    .card__actions
                      .card__time 16:30
                    .card__image
                      img(src="assets/images/program/program_1.jpg")
                .program__item
                        .card
                          .card__title Пленарная видеоконференция «Сохранение наследия в условиях пандемии»
                          .card__tag
                            i.icon
                              img(src='assets/images/icons/clip.svg')
                            span Объект культурного наследия
                          .card__actions
                            .card__time 16:30
                          .card__image
                            img(src="assets/images/program/program_1.jpg")
          .tabs__panel(data-tabs-panel='item_2') panel 2
          .tabs__panel(data-tabs-panel='item_3') panel 3
          .tabs__panel(data-tabs-panel='item_4') panel 4
          .tabs__panel(data-tabs-panel='item_5') panel 5
  section.section.section_large
    .container
      .title-block
        span.title-block__title О Москве
        a.title-block__link(href="#") Смотреть все
  section.section.section_large
    .container
      +about-block
