.first-screen
  $fscreen: &
  position: relative
  &__title
    font-size: 3.2rem
    line-height: 1.1
    margin-bottom: 8px
  &__subtitle
    font-size: $g-xxl-font-size
  &__buttons
    margin: 32px 0 56px
  &__box
    width: 50%
    padding: 60px 0
    & > *
      & + #{fscreen}__buttons
        margin-top: 32px
  &__image
    position: absolute
    display: flex
    align-items: center
    top: 0
    left: 55%
    width: 50%
    height: 100%
    img
      // width: 100%
      // object-fit: contain

@media (max-width: $bp-m)
  .first-screen
    &__image
      left: 78%
    &__box
      width: 80%
      padding: 32px 0

@media (max-width: $bp-s)
  .first-screen
    &__image
      display: none
    &__box
      width: 100%

@media (max-width: $bp-xs)
  .first-screen
    &__title
      font-size: $g-xxxxl-font-size
      line-height: 1.3
    &__subtitle
      font-size: $g-xl-font-size
    &__buttons
      margin: 32px 0
