mixin first-screen
  section.section
    .first-screen
      .first-screen__image
        img(src="assets/images/first-screen.png")
      .container
        .first-screen__box
          h1.first-screen__title Международный экспертный совет
          h4.first-screen__subtitle по вопросам сохранения и реставрации объектов культурного наследия
          .first-screen__buttons.button-group
            button.button.button_primary.button_large О Совете
            button.button.button_outline.button_large Организаторы
          .first-screen__orgs.orgs
            span.orgs__title Организаторы
            .orgs__item
              img(src="assets/images/orgs/org_1.svg")
            .orgs__item.orgs__item_end
              img(src="assets/images/orgs/org_2.svg")
            .orgs__item.orgs__item_end
              img(src="assets/images/orgs/org_3.svg")
