mixin modal
  .modal-container

    .modal.modal_live(data-modal="live" data-src-modal)
      .modal__content
        button.modal__close(type="button" data-modal-close)
          <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0302 15.0004L29.3721 3.65836C30.21 2.82051 30.21 1.46624 29.3721 0.628387C28.5343 -0.209462 27.18 -0.209462 26.3422 0.628387L15.0002 11.9704L3.65832 0.628387C2.82048 -0.209462 1.46622 -0.209462 0.628381 0.628387C-0.20946 1.46624 -0.20946 2.82051 0.628381 3.65836L11.9703 15.0004L0.628381 26.3424C-0.20946 27.1803 -0.20946 28.5345 0.628381 29.3724C1.04623 29.7903 1.59479 30.0002 2.14335 30.0002C2.69191 30.0002 3.24047 29.7903 3.65832 29.3724L15.0002 18.0304L26.3422 29.3724C26.76 29.7903 27.3086 30.0002 27.8571 30.0002C28.4057 30.0002 28.9543 29.7903 29.3721 29.3724C30.21 28.5345 30.21 27.1803 29.3721 26.3424L18.0302 15.0004Z" fill="black"/>
          </svg>
        .container
          .title-block
            span.title-block__title Прямая трансляция
          +live-block

    .modal.modal_form(data-modal="form" data-src-modal)
      .modal__content
        .form
          button.modal__close(type="button" data-modal-close)
            <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0302 15.0004L29.3721 3.65836C30.21 2.82051 30.21 1.46624 29.3721 0.628387C28.5343 -0.209462 27.18 -0.209462 26.3422 0.628387L15.0002 11.9704L3.65832 0.628387C2.82048 -0.209462 1.46622 -0.209462 0.628381 0.628387C-0.20946 1.46624 -0.20946 2.82051 0.628381 3.65836L11.9703 15.0004L0.628381 26.3424C-0.20946 27.1803 -0.20946 28.5345 0.628381 29.3724C1.04623 29.7903 1.59479 30.0002 2.14335 30.0002C2.69191 30.0002 3.24047 29.7903 3.65832 29.3724L15.0002 18.0304L26.3422 29.3724C26.76 29.7903 27.3086 30.0002 27.8571 30.0002C28.4057 30.0002 28.9543 29.7903 29.3721 29.3724C30.21 28.5345 30.21 27.1803 29.3721 26.3424L18.0302 15.0004Z" fill="black"/>
            </svg>
          h2.form__title Возник вопрос?
          p.form__subtitle Напишите нам через форму обратной связи, и мы свяжемся с вами в ближайшее время.
          form(name="callback")
            .form__field
              label.form__label Имя
              .form__control
                input.form__input(type="text" placeholder="Введите ваше имя" required)
            .form__field
              label.form__label Электронная почта
              .form__control
                input.form__input(type="text" placeholder="Введите эл. почту" required)
            .form__field
              label.form__label Ваш вопрос
              .form__control
                textarea.form__input(rows='6')
            .form__actions
              button.button.button_primary Отправить
              p.form__politic Нажимая кнопку, вы соглашаетесь с условиями обработки <a href="#">персональных данных</a>

