header.header
  .container
    .header__inner
      a.header__logo(href="/")
        img(src="./assets/images/logo.svg")
      .header__menu
        .header__nav
          .header__nav-item(class=activePage=='index' ? ' is-active' : '')
            a.header__nav-content(href="/") Главная
          .header__nav-item.dropdown(data-ddwn class=activePage=='events' ? ' is-active' : '')
            a.header__nav-content.dropdown__head(data-ddwn-head href="/events.html")
              span Мероприятия
              i.icon.icon_arrow_down
                svg(viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z")
            .dropdown__body(data-ddwn-body)
              .dropdown__content
                a.dropdown__item(data-ddwn-item href="/events.html#day_21") 21 сентября
                a.dropdown__item(data-ddwn-item href="/events.html#day_22") 22 сентября
                a.dropdown__item(data-ddwn-item href="/events.html#day_23") 23 сентября
                a.dropdown__item(data-ddwn-item href="/events.html#day_24") 24 сентября
                a.dropdown__item(data-ddwn-item href="/events.html#day_25") 25 сентября
                a.dropdown__item(data-ddwn-item href="/events.html#cultura") Культурная программа
          .header__nav-item.dropdown(data-ddwn class=activePage=='experts' ? ' is-active' : '')
            a.header__nav-content.dropdown__head(data-ddwn-head href="/experts.html")
              span Эксперты
              i.icon.icon_arrow_down
                svg(viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z")
            .dropdown__body(data-ddwn-body)
              .dropdown__content
                a.dropdown__item(data-ddwn-item href="/expert-page.html") Эксперт
                a.dropdown__item(data-ddwn-item href="/expert-page.html") Эксперт
                a.dropdown__item(data-ddwn-item href="/expert-page.html") Эксперт
          .header__nav-item.dropdown(data-ddwn class=activePage=='gallery' ? ' is-active' : '')
            a.header__nav-content.dropdown__head(data-ddwn-head href="/gallery.html")
              span Галерея
              i.icon.icon_arrow_down
                svg(viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z")
            .dropdown__body(data-ddwn-body)
              .dropdown__content
                a.dropdown__item(data-ddwn-item href="/gallery.html#gal_1") Галерея
                a.dropdown__item(data-ddwn-item href="/gallery.html#gal_2") Галерея
        .header__lang.lang
          span.lang__item.is-active Ru
          span.lang__line |
          span.lang__item En
        .header__callback.header__nav-item.dropdown(data-ddwn)
          span.header__nav-content.dropdown__head(data-ddwn-head)
            span Обратная связь
            i.icon.icon_arrow_down
              svg(viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.123825 0.130653C0.288924 -0.0435511 0.556604 -0.0435511 0.721704 0.130653L4 3.58974L7.2783 0.130653C7.4434 -0.0435511 7.71108 -0.0435511 7.87617 0.130653C8.04127 0.304858 8.04127 0.587299 7.87617 0.761504L4.29894 4.53601C4.13384 4.71022 3.86616 4.71022 3.70106 4.53601L0.123825 0.761504C-0.0412749 0.587299 -0.0412749 0.304858 0.123825 0.130653Z")
          .dropdown__body(data-ddwn-body)
              .dropdown__content
                a.dropdown__item(data-ddwn-item href="tel:+79999999999") +7 999 999-99-99
                a.dropdown__item(data-ddwn-item href="mailto:info@example.ru") info@example.ru
                span.dropdown__item(data-ddwn-item data-modal-target="form") Задать вопрос
      button.button.button_primary.header__broadcast(disabled data-modal-target="live") Онлайн-трансляция
      .header__humburger.humburger
        span
        span
        span
