.header
  $header: &
  position: relative
  z-index: 10
  &__inner
    display: flex
    align-items: center
  &__menu
    flex-grow: 1
    display: flex
    align-items: center
  &__logo
    margin-right: 48px
    width: 100px
    padding-top: 10px
    img
      width: 100%
  &__nav
    $nav: &
    display: inline-flex
    align-items: center
    margin-right: auto
    padding-top: 8px
    & > *
      margin-right: 32px
    &-item
      font-size: $g-xs-font-size
      cursor: pointer
      &:hover
        #{$nav}
          &-content
            border-bottom-color: $g-color-primary
            opacity: 1
      &.is-active
        &:not(.dropdown)
          pointer-events: none
        #{$nav}
          &-content
            border-bottom-color: $g-color-primary
            opacity: 1
    &-content
      display: inline-flex
      align-items: center
      padding-bottom: 6px
      border-bottom: 2px solid transparent
      opacity: 0.4
      transition: $transition
      text-decoration: none
      white-space: nowrap
      .icon
        margin-left: 8px
        width: 8px
        path
          fill: $g-color-black

  &__broadcast,
  &__callback,
  &__lang
    margin-left: 32px

  &__callback
    #{$header}__nav-content
      padding-bottom: 0
      border-bottom: 0
  &__humburger
    display: none


@media (max-width: $bp-l)
  .header
    &__logo
      width: 80px
      margin-right: 24px
    &__nav
      & > *
        margin-right: 12px
    &__broadcast,
    &__callback,
    &__lang
      margin-left: 12px

@media (max-width: $bp-m)
  .header
    &__menu
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      flex-direction: column
      display: none
      padding: 80px 16px 16px
      background-color: $g-color-white
      overflow-y: auto
      -webkit-overflow-scrolling: touch
      &::before
        content: ''
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 80px
        background-color: #fff
        z-index: 10
      &.is-active
        display: flex
    &__nav
      margin: 0
      flex-direction: column
      & > *
        margin: 0
        margin-bottom: 8px
      &-item
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 16px
      &-content
        padding-bottom: 0
        font-size: $g-xxl-font-size
        opacity: 1
    .icon_arrow_down
      display: none
    .dropdown__body
      position: static
      visibility: visible
      opacity: 1
      min-width: auto
    .dropdown__content
      box-shadow: none
      align-items: center
    .dropdown__item
      padding: 4px 0px 0
      background-color: $g-color-white
      font-size: $g-l-font-size

    .lang__item
      font-size: $g-l-font-size
    &__callback,
    &__lang
      margin-left: 0
      margin-bottom: 16px

    &__logo
      margin-right: auto
      z-index: 1
    &__broadcast
      margin-right: 0
    &__humburger
      display: block
      z-index: 1
      margin-left: 12px
