.gallery
  &__fgrid
    display: flex
    flex-wrap: wrap
    width: calc(100% + 24px)
    margin: 0 -12px 24px
  &__image
    width: 16.66%
    position: relative
    padding: 12% 12px 32px
    img
      position: absolute
      top: 0
      left: 12px
      width: calc(100% - 24px)
      height: calc(100% - 32px)
      object-fit: cover
      object-position: center
  &__name
    position: relative
    width: 100%
    margin-bottom: 56px
    span
      font-size: $g-xxl-font-size
      font-weight: $g-font-weight-500
      background-color: $g-color-white
      padding-right: 32px
    &::before
      content: ''
      position: absolute
      top: 52%
      left: 0
      width: 100%
      height: 1px
      background-color: $g-color-black
      z-index: -1
  &__box
    max-width: 100%
    width: 860px
    margin-bottom: 56px
  &__title
    font-size: $g-xxl-font-size
    font-weight: $g-font-weight-500
    margin-bottom: 16px
  &__text
    opacity: 0.8

@media (max-width: $bp-l)
  .gallery
    &__fgrid
      margin: 0 -12px 16px
    &__image
      width: 20%
      padding: 20% 12px 24px
      img
        height: calc(100% - 24px)
    &__box,
    &__name
      margin-bottom: 40px

@media (max-width: $bp-s)
  .gallery
    &__fgrid
      width: calc(100% + 16px)
      margin: 0 -12px 16px
    &__image
      width: 25%
      padding: 20% 8px 16px
      img
        width: calc(100% - 16px)
        height: calc(100% - 16px)
    &__box,
    &__name
      margin-bottom: 32px

@media (max-width: $bp-xs)
  .gallery
    &__image
      width: 33.33%
