.section
  $section: &
  padding: 32px 0 0
  &_large
    padding: 64px 0 0
  &_grey
    background-color: $g-color-grey
    margin: 32px 0 0
    padding: 32px 0
    &#{$section}
      &_large
        margin: 64px 0 0
        padding: 64px 0

@media (max-width: $bp-m)
  .section
    $section: &
    padding: 16px 0 0
    &_large
      padding: 32px 0 0
    &_grey
      background-color: $g-color-grey
      margin: 16px 0 0
      padding: 16px 0
      &#{$section}
        &_large
          margin: 32px 0 0
          padding: 32px 0

