.footer
  position: relative
  margin-top: 60px
  &__bg
    position: absolute
    top: 0
    left: 50%
    display: block
    width: 50%
    height: calc(100% - 48px)
    background-color: $g-color-grey-4
    z-index: -1
  &__inner
    display: flex
    flex-wrap: wrap
  &__left,
  &__right
    display: flex
    width: 50%
    padding: 48px 0
  &__right
    justify-content: flex-end
  &__bottom
    display: flex
    align-items: center
    width: 100%
    height: 48px
  &__copy
    font-size: $g-xxs-font-size
    opacity: 0.4
  &__box
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    max-width: 100%
    width: 400px
  &__logo
    max-width: 50%
    width: 143px
  &__orgs
    width: 50%
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-left: 40px
  &__org
    margin-bottom: 18px
  &__title
    margin-top: 32px
    width: 100%
    font-size: $g-s-font-size
    font-weight: $g-font-weight-400
    opacity: 0.4
  &__nav
    display: flex
    flex-direction: column
    align-items: flex-start
    font-weight: $g-font-weight-500
    margin-left: 96px
    &-title
      font-size: $g-xxs-font-size
      opacity: 0.4
      margin-bottom: 24px
    & > *
      margin-bottom: 16px
  &__item
    font-size: $g-xs-font-size
    text-decoration: none
    transition: $transition
    &:hover,
    &:focus
      color: $g-color-primary
  &__contact
    max-width: 100%
    width: 310px
    text-decoration: none
    &_mail
      font-size: $g-l-font-size
      transition: $transition
      &:hover,
      &:focus
        color: $g-color-primary
    &_address
      font-size: $g-xxs-font-size
      opacity: 0.4
      margin-bottom: 24px

@media (max-width: $bp-s)
  .footer
    &__bg
      display: none
    &__left,
    &__right
      width: 100%
      padding: 16px 0
    &__right
      justify-content: flex-start
    &__nav
      margin-left: 0
      margin-right: 48px
    &__orgs
      padding-left: 16px
    &__logo
      width: 110px

@media (max-width: $bp-xs)
  .footer
    &__logo
      width: 50%
  //   &__box
  //     width: 100%
  //     flex-direction: column
  //   &__orgs
  //     padding: 0

