.orgs
  display: inline-flex
  align-items: center
  & > *
    margin-right: 32px
  &__title
    font-size: $g-xs-font-size
    font-weight: $g-font-weight-500
    color: $g-color-grey-light-2
  &__item
    display: inline-flex
    &_end
      align-self: flex-end
    img
      width: 100%

@media (max-width: $bp-m)
  .orgs
    flex-wrap: wrap
    &__item
      margin-bottom: 8px
    &__title
      width: 100%
      margin-bottom: 16px
