.experts
  &__fgrid
    display: flex
    flex-wrap: wrap
    width: calc(100% + 24px)
    margin: 0 -12px
  &__item
    width: 33.33%
    padding: 0 12px 32px

@media (max-width: $bp-m)
  .experts
    &__fgrid
    &__item
      width: 50%
      padding: 0 12px 24px

@media (max-width: $bp-xs)
  .experts
    &__fgrid
      width: 100%
      margin: 0
    &__item
      width: 100%
      padding: 0 0 24px
