.title-block
  display: flex
  align-items: center
  justify-content: space-between
  font-weight: $g-font-weight-500
  &__title
    font-size: $g-xxxxl-font-size
    margin-right: 32px
  &__link
    align-self: flex-end
    opacity: 0.5
    text-decoration: none
    padding-bottom: 3px
    transition: $transition
    &:hover,
    &:focus
      color: $g-color-primary
      opacity: 1

@media (max-width: $bp-s)
  .title-block
    &:not(.experts-slider__title)
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
    &__link
      align-self: flex-start
      margin-top: 8px

@media (max-width: $bp-xs)
  .title-block
    $title: &
    &__title
      font-size: $g-xxxl-font-size
      line-height: 1.2
